<p id="notice"><%= notice %></p>

<div class="col-xs-11 col-xs-offset-1">

      <h1 class="turninline-block">
        <strong>
        <%= @profile.first_name + " " +@profile.last_name %>
        </strong>
      </h1>
    <% if current_user == @profile %>

      <span class="bottom_right">
      <%= link_to 'Edit', edit_profile_path(@profile) %>
      |
      <%= link_to 'Destroy', @profile, method: :delete, data: { confirm: 'Are you sure?' } %>
      </span>
    <% end %>
</div>

<div class="col-xs-11 col-xs-offset-1">
  <div id="picdiv" class="col-lg-4 col-sm-6" >
    <%= image_tag @profile.avatar.url(), :class => "img-responsive"%>
  </div>
  <div class="col-lg-8 col-sm-6 container">
    <div class="panel panel-success">
      <div class="panel-heading">
       <h3 class="panel-title">Contact Info</h3>
      </div>
      <div class="panel-body">
       <%= @profile.email %>
      </div>
    </div>

    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">Bio</h3>
      </div>
      <div class="panel-body">
        <%= @profile.bio %>
      </div>
    </div>
  </div>
</div>

<div  class="col-xs-11 col-xs-offset-1">

  <div  id="projectspanel" class="col-sm-6">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">Projects</h3>
      </div>
      <div class="panel-body">
        <ul class="list-group ">
          <% @profile.projects.each do |profproj| %>
            <a href=<%=project_path(profproj)%>>
              <li class="list-group-item">
                <%if profproj.projectpictures.first%>
                <div class="turninline-block">
                  <%= image_tag profproj.projectpictures.first.picture.url(:thumb), :class => 'img-responsive'%>
                </div>
                <%end%>
                <h5 class="turninline-block">
                  <%=profproj.title%>
                </h5>
              </li>
            </a>
          <%end%>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="panel panel-success ">
      <div class="panel-heading">
        <h3 class="panel-title">Collaborators</h3>
      </div>
      <div class="panel-body">
        <ul class="list-group ">
          <% count = course_user_count %>
          <% collab = collaborators %>
          <% collab.keys.each do |profile| %>
            <a href=<%=profile_path(profile)%>>
              <li class="list-group-item">
               <%if profile.avatar%>
               <div class="turninline-block">
               <%= image_tag profile.avatar.url(:thumb), :class => 'img-responsive'%>
                </div>
                <%end%>
                <h5 class="turninline-block">
                  <%=profile.full_name%>
                </h5>
              </li>
            </a>
          <%end%>
        </ul>
      </div>
    </div>
  </div>

</div>

