<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @profile.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @profile.last_name %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @profile.bio %>
</p>

<p>
  <strong>Email:</strong>
  <%= @profile.email %>
</p>

<p><strong>Picture</strong></p>
<%= image_tag(@profile.image_url, :class => 'list_image' ) %>

<p>
  <strong>Image url:</strong>
  <%= @profile.image_url %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
