<p id="notice"><%= notice %></p>

<p>
  <%=
    session[:user_id]
  %>
</p>

<p>
  <%=
    if logged_in?
      "hello #{current_user.first_name}"
    else
      'you should login'
    end
  %>
</p>>

<p>
  <strong>First name:</strong>
  <%= @profile.first_name %>
</p>
<p>
  <strong>Last name:</strong>
  <%= @profile.last_name %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @profile.bio %>
</p>

<p>
  <strong>Email:</strong>
  <%= @profile.email %>
</p>

<p><strong>Picture</strong></p>
<%= image_tag(@profile.image_url, :class => 'list_image' ) %>

<p>
  <strong>Image url:</strong>
  <%= @profile.image_url %>
</p>

<%= image_tag @profile.avatar.url %>
<%= image_tag @profile.avatar.url(:medium) %>
<%= image_tag @profile.avatar.url(:thumb) %>

<% if current_user == @profile %>
  <%= link_to 'Edit', edit_profile_path(@profile) %>
  <%= link_to 'Destroy', @profile, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
<%= link_to 'Back', profiles_path %>
