<p id="notice"><%= notice %></p>

<div class="col-xs-11 col-xs-offset-1">
    <h1 class="turninline-block">
      <strong>
      <%= @profile.first_name + " " +@profile.last_name %>
      </strong>
    </h1>
</div>

<div class="col-xs-11 col-xs-offset-1">
  <div id="picdiv" class="col-xs-3" >
    <%= image_tag @profile.avatar.url(:medium), :class => "img-responsive"%>
  </div>
  <div class="col-xs-9 container">
    <% if current_user == @profile %>
      <div class="pull-right">
      <%= link_to 'Edit', edit_profile_path(@profile) %>
      |
      <%= link_to 'Destroy', @profile, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
      <br>
    <% end %>

    <div class="panel panel-primary">
      <div class="panel-heading">
       <h3 class="panel-title">Contact Info</h3>
      </div>
      <div class="panel-body">
       <%= @profile.email %>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Bio</h3>
      </div>
      <div class="panel-body">
        <%= @profile.bio %>
      </div>
    </div>
  </div>
</div>

<div  class="col-xs-11 col-xs-offset-1">

  <div  id="projectspanel" class="col-xs-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Projects</h3>
      </div>
      <div class="panel-body">
        <ul class="list-group ">
          <% @profile.projects.each do |profproj| %>
            <li class="list-group-item">
              <%if profproj.projectpictures.first%>
              <%= image_tag profproj.projectpictures.first.picture.url(:thumb)%>
              <%end%>
              <%= link_to "#{profproj.title}", project_path(profproj)%>
            </li>
          <%end%>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-xs-6">
    <div class="panel panel-primary ">
      <div class="panel-heading">
        <h3 class="panel-title">Collaborators</h3>
      </div>
      <div class="panel-body">
        <ul class="list-group ">
          <% count = course_user_count %>
          <% collab = collaborators %>
          <% collab.keys.each do |profile| %>
            <li class="list-group-item">
              <%if profile.avatar%>
              <%= image_tag profile.avatar.url(:thumb)%>
              <%end%>
              <%= link_to "#{profile.first_name} #{profile.last_name}", profile_path(profile)%>
            </li>
          <%end%>
        </ul>
      </div>
    </div>
  </div>

</div>

