<p id="notice"><%= notice %></p>
<% if flash[:alert] %>
    <p class="flash-error"><%= flash[:alert] %></p>
<% end %>


<div class="col-xs-11 col-xs-offset-1 pull-left">
		<h1 class="turninline-block">
			<strong>
				<% if @project.profiles.include?(current_user)%>
					<%= best_in_place @project, :title, :nil => "Click me to add content!", :ok_button => 'Save', :cancel_button => 'Cancel', :class => "panel panel-default turninline-block" %>
				<% else %>
				  <%= @project.title %>
				<% end %>
			</strong>
		</h1>

		<button>Like</button>
</div>

<div class="col-xs-7 col-xs-offset-1 container">
  <h3>
    <strong>Picture</strong>
  </h3>
  <div class="row">
    <div id="mainpic" class="col-xs-4">
      <% displayedpicture = @project.projectpictures.first%>
      <%= image_tag displayedpicture.picture.url(:medium), :class => 'fisrtpic', :onload => 'resizepicturearea()'%>
      <%#= image_tag(@project.image_url, :class => 'list_image' ) %>
      <%#= image_tag picture.url %>
    </div>
    <div class="col-xs-4">

      <div id="picdescpanel" class="panel panel-default">
        <div id='picdescpanelhead' class="panel-heading">
          <h3 class="panel-title">Description</h3>
        </div>
        <div id='picdescpanelbody' class="panel-body scrollable">
            <%= displayedpicture.description %>
        </div>
      </div>

    </div>
    <div id="thumbnaildiv" class="col-xs-4 panel panel-default">
      <!-- Button trigger modal -->

      <button id="addpicbutton" type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
        add picture
      </button>
      <br>

      <ul id='thumbnailbar' class="list-group scrollable">
        <% @project.projectpictures.each do |projectpicture| %>
          <li class="list-group-item">
          	<%#= image_tag projectpicture.picture.url(), :class => 'fisrtpic', :onload => 'resizepicturearea()'%>
            <%= image_tag projectpicture.picture.url(:thumb),
            :onclick => "swappictures( '#{image_tag projectpicture.picture.url(:medium), :class => 'fisrtpic', :onload => 'resizepicturearea()'}', '#{projectpicture.description}')"%>
          </li>
        <%end%>
      </ul>
    </div>
  </div>

	<%if @project.embedcode.nil? %>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Embed</h3>
		</div>
		<div class="panel-body">
			<div class="embed-responsive embed-responsive">
				<%tags = %w(a acronym b strong i em li ul ol h1 h2 h3 h4 h5 h6 blockquote br cite sub sup ins p iframe)%>
				<%=sanitize( @project.embedcode, tags: tags, attributes: %w(href title))%>
				<iframe width="420" height="315" src="//www.youtube.com/embed/siwpn14IE7E" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
	</div>
	<%end%>


	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Description</h3>
		</div>
		<div class="panel-body">
			<% if @project.profiles.include?(current_user)%>
				<%= best_in_place @project, :description, type: :textarea,:nil => "Click me to add content!", :ok_button => 'Save', :cancel_button => 'Cancel', :class => 'turnblock' %>
			<% else %>
				<%= @project.description %>
			<% end %>
		</div>
	</div>

	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">Special Links</h3>
		</div>
		<div class="panel-body">
			<ul class="list-group">
				<%# @project.profiles.each do |profile| %>
					<li class="list-group-item">
						links will go here
					</li>
				<%#end%>
			</ul>
		</div>
	</div>
</div>


<div class="col-xs-3 col-xs-offset-1 container">
	<br>
	<%# if current_user == @profile %>
	<% if @project.profiles.include?(current_user)%>
	  <%= link_to 'Edit', edit_project_path(@project) %>
	   |
	  <%= link_to 'Destroy', @project, method: :delete, data: { confirm: 'Are you sure?' } %>
	<% end %>
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">Creators</h3>
		</div>
		<div class="panel-body">
			<ul class="list-group">
				<% @project.profiles.each do |profile| %>
					<li class="list-group-item">
						<%= link_to profile.first_name, profile_path(profile)%>
					</li>
				<%end%>
			</ul>
		</div>
	</div>
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">Other projects by the creators</h3>
		</div		<div class="panel-body">
			<ul class="list-group">
				<% @project.profiles.each do |profile| %>
					<% creator_project = profile.projects.first%>
					<li class="list-group-item">
						<%= link_to "#{creator_project.title} by #{profile.first_name}", project_path(creator_project)%>
					</li>
				<%end%>
			</ul>
		</div>
	</div>
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
      	<%#= form_for(Projectpicture.new, :url => projectpicture_path, :html => {:method => :post}) do |f| %>

      		<%= form_for(Projectpicture.new, remote: true) do |f| %>
               		<h4>
               			<strong>Picture</strong>
               		</h4>
					<%= f.file_field :picture %>
					<br>
					<h4>
						<strong>Picture Description</strong>
					</h4>
					<%= f.text_area :description, :class => "form_control col-xs-12 custom-control", :rows => '10'%>
			<%end%>
	  </div>
      <div class="modal-footer">
      	<br>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<%#store project in session for picture to use%>
<%session[:project] = @project%>

<script type="text/javascript">
	var options = {
    "backdrop" : "static"
	}

	$(document).ready(function() {
	    $('#myModal .btn-primary').click(function(e) {
	        e.preventDefault();
	        $('#myModal').modal('hide');
	       	 $('form').submit();
	    });
	});
</script>

<script type="text/javascript">
	function resizepicturearea() {

		var thumbnaildiv = $('#thumbnaildiv');
		var thumbnailbar = $('#thumbnailbar');
		var addpicbutton =  $('#addpicbutton');
		var picdescpanelbody = $('#picdescpanelbody');
		var mainpic = $('#mainpic');

		var picheight = mainpic.outerHeight( true );
		var addpicbuttonheight = $('#addpicbutton').outerHeight( true );
		var header = $('#picdescpanelhead').outerHeight( true );
		var bodypadding = picdescpanelbody.css('padding-top').replace(/[^-\d\.]/g, '');

		thumbnailbar.height(picheight - addpicbuttonheight);

		addpicbutton.width( thumbnailbar.width() - (addpicbutton.css('padding-left').replace(/[^-\d\.]/g, '') *2))

		if($('picdescpanel').height > mainpic.height) {
			picdescpanelbody.height(picheight - (bodypadding*4));
		}
    }
</script>

<script type="text/javascript">
	function swappictures(imagesrc, description) {
		var mainpic = $('#mainpic');
		var picdescpanelbody = $('#picdescpanelbody');

		picdescpanelbody.html(description);
		mainpic.html(imagesrc);
	}
</script>
