<p id="notice"><%= notice %></p>
<% if flash[:alert] %>
    <p class="flash-error"><%= flash[:alert] %></p>
<% end %>
<div>
	<p>
	  <strong>Title:</strong>
	</p>
	<% if @project.profiles.include?(current_user)%>
		<%= best_in_place @project, :title, :nil => "Click me to add content!", :ok_button => 'Save', :cancel_button => 'Cancel' %>
	<% else %>
	  <%= @project.title %>
	<% end %>
</div>
<div>
	<p>
	  <strong>Description:</strong>
	</p>
	<% if @project.profiles.include?(current_user)%>
		<%= best_in_place @project, :description, type: :textarea,:nil => "Click me to add content!", :ok_button => 'Save', :cancel_button => 'Cancel' %>
	<% else %>
	  <%= @project.description %>
	<% end %>
</div>


<p><strong>Picture</strong></p>
<%= image_tag(@project.image_url, :class => 'list_image' ) %>

<p>
  <strong>Image url:</strong>
  <%= @project.image_url %>
</p>

<table>
<strong>Creators</strong>>
<% @project.profiles.each do |profile| %>
	<tr>
		<td><%= link_to profile.first_name, profile_path(profile)%></td>
	</tr>


<%end%>
</table>

<%# if current_user == @profile %>
<% if @project.profiles.include?(current_user)%>
  <%= link_to 'Edit', edit_project_path(@project) %>
  <%= link_to 'Destroy', @project, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
|
<%= link_to 'Back', projects_path %>
