<%@projectpicture = projectpicture%>

<%= form_for(@projectpicture) do |f| %>

    <%= hidden_field_tag :projectid, projectid %>

	<div class="">
			<%if !projectpicture.picture_file_name.nil?%>
				<div id="mainpic" class="turninline-block col-lg-4 col-sm-6">
					<%= image_tag(@projectpicture.picture.url(), :class => 'list_image img-responsive' ) %>
				</div>
			<%else%>
				<div class="col-md-6">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Add picture</h3>
						</div>
						<div class="panel-body">
							<div class="field">
								<%= f.file_field :picture %>
							</div>
						</div>
					</div>
				</div>
			<%end%>

		<div class="col-sm-6">
			<div id="picdescpanel" class="panel panel-default">
				<div id='picdescpanelhead' class="panel-heading">
					<h3 class="panel-title">Description</h3>
				</div>
				<div id='picdescpanelbody' class="panel-body scrollable">
					<%= f.text_area :description, :class => "form_control col-xs-12 custom-control", :rows => '10', :id => "descriptioninput"%>
				</div>
			</div>
		</div>
		<%=f.submit%>
	</div>

<%end%>